.characterEditor {
  padding-top: 128px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.characterEditorContent {
  display: flex;
  flex-direction: column;
  /* Quirk: editor content's top padding reserves space 
    that prevents sticky content from overlapping - this is 
    useful as we want a gap to always show the head of 
    the character. */
  padding-top: 500px;
}

.header {
  padding-bottom: 64px;
  order: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}


.controlColumnScroll {
  order: 1;
  margin-inline: -32px;
  position: sticky;
  overflow-x: scroll;
  bottom: 48px;
}

.controlColumnScroll::-webkit-scrollbar {
  appearance: none;
}

.controlColumn {
  padding-inline: 32px;
  width: max-content;
  position: relative;
  display: flex;
  gap: 16px;
}

.controlColumn>* {
  width: 20rem;
}

.characterWrapper {
  width: 100%;
  margin-bottom: 16px;
  margin-top: -500px;
  order: 0;
}

.characterWrapper>* {
  position: relative;
  min-height: 500px;

}

.characterWrapperBackground {
  position: fixed;
  top: 45%;
  left: 0;
  width: 100%;
  height: 55%;
  background-color: hsl(195deg, 20%, 86%);
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  .characterEditor {
    padding-bottom: 96px;
  }

  .controlColumn {
    width: 100%;
  }

  .controlColumnContainer {
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 65%;
    min-height: 192px;
  }

  .characterEditorContent {
    /* Sticky leeway for control panels are not needed anymore. */
    padding-top: 0;
  }

  .characterWrapper {
    margin-top: 0;
  }

  .characterEditorContent {
    display: flex;
    flex-direction: row;
  }

  .controlColumnScroll {
    width: 50%;
    flex: none;
    overflow: visible;
    margin-inline: 0;
    order: 0;
  }

  .controlColumn>* {
    width: 100%;
  }

  .controlColumn {
    flex-direction: column;
    gap: 16px;
    padding-inline: 0;
  }

  .characterWrapper {
    position: sticky;
    top: 32px;
    order: 1;
    min-height: 700px;
    max-height: 90svh;
    margin-left: 48px;
    margin-bottom: 0;
    margin-top: -216px;
  }
}