.controlPane {
  padding: 24px;
  /* Optical centering */
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  /* margin-bottom: 32px; */

}

.title {
  margin: 0;
  /* Optical centering */
  margin-bottom: 8px;
  left: 0;
}

.metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 30%);
}

.buttonRowScroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 12px;
}

